{% extends 'base.html' %}
{% load static %}

{% block full_title %}Sign up for Kolofon Technologies{% endblock full_title %}
{% block styles %}
  <link rel="stylesheet" href="{% static 'accounts/styles/user_authentication_styles.css' %}">
{% endblock %}

{% block body %}
  <div class="container mt-5">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-7 col-sm-12">
        <div class="col authentication-form-container p-3 px-4">
          <form action="{% url 'core:register' %}" method="POST" autocomplete="off">
            {% csrf_token %}
            
            <h1 class="mb-3">Register</h1>
            
            {% if not verificaton_pending %}
              {% if errors %}
                {% for error in errors %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  {{ error }}
                  <a class="btn-close" data-bs-dismiss="alert" style="outline: none; cursor:pointer;"><span></span></a>
                </div>
                {% endfor %}
              {% endif %}
            
              {% for field in form %}
                <div class="form-floating mb-3">
                  {{ field }}
                  <label class="form-label" for="{{ field.auto_id }}">{{ field.label }}</label>
                </div>
              {% endfor %}
              
              <div class="form-group my-3">
                <input type="submit" class="btn btn-primary form-control" value="Register">
              </div>
              
              <p style="font-family: 'Open Sans', sans-serif; font-size: 15px;">Are you already a member? <a href="{% url 'core:login' %}">Login here.</a></p>
            {% endif %}
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
