@import '../../base/styles/_mixins.scss';
@import '../../base/styles/_breakpoints.scss';

html, head, body {
  overflow-x: hidden;
}

body {
  background-color: #222222;
  color: white;
}

nav {
  background-color: #22222299;
  z-index: 10;
}

#home {
  z-index: -10;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  overflow-x: hidden;
  display: block;
  
  .background-blur {
    background-size: cover;
    background-position: center center;
    position: absolute;
    height: 100vh;
    width: 100vw;
    filter: blur(5px);
    z-index: -2;
  }
  
  .splash-image-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    
    img {
      z-index: -5;
      width: 100vw;
    }
  }
  
  h1 {
    animation: slide_in_text ease 2s;
    position: absolute;
    top: 25%;
    left: 5%;
    font-size: 6rem;
  }
  
  p {
    animation: slide_up_text ease 2s;
    position: absolute;
    top: 40%;
    left: 108px;
    font-size: 2rem;
  }
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0;
  flex-direction: column;
  text-align: center;

  &:nth-child(odd) {
    background-color: #243b9a;
  }
  
  h2 {
    margin-bottom: 1rem;
    font-size: 32pt;
  }
  
  .subtext {
    max-width: 50%;
  }
}

#what-we-do {
  background-color: #243b9a;
}

#latest-products {
  padding-bottom: 4rem;

  .product-spotlight-container {
    display: flex;
    align-items: center;
    flex-direction: column;

    .product-spotlight {
      margin-top: 4rem;
      display: flex;
      width: 55%;
      flex-direction: column;
      
      h3 {
        text-align: left; 
        margin-bottom: 1rem;
      }
      
      .product {
        display: flex;
        flex-direction: row;
        
        .product-spotlight-image {
          width: 20rem;
          max-height: 15rem;
          margin-right: 2rem;
          padding: 0.5rem;
          background-color: white;
          border-radius: 8px;
          display: flex;
          align-items: center;
          
          img {
            width: 100%;
            height: auto;
          }
        }

        .product-spotlight-text {
          max-width: 60%;

          p {
            @include multiline-clamp(7);
          }
        }
      }
    }
  }
}

#available-retailers {
  .retailers-wrapper {
    padding-top: 2rem;
    width: 50%;
    display: flex;
    align-content: center;
    // justify-content: space-between;

    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      font-size: 16pt;
      margin: 0 1.5rem;
    }
  }
}

@media screen and (max-width: $lg) {
  #home {
    h1 {
      width: 100%;
      top: 40%;
      left: 0;
      font-size: 4.5rem;
    }
    
    p {
      width: 100%;
      top: 50%;
      left: 0;
      font-size: 2rem;
    }
  }
}

@media screen and (max-width: $md) {
  #home {
    h1 {
      width: 100%;
      top: 40%;
      left: 0;
      font-size: 3rem;
    }
    
    p {
      width: 100%;
      top: 50%;
      left: 0;
      font-size: 1.5rem;
    }
  }

  #available-retailers > .retailers-wrapper {
    width: 100%;
    padding: 1rem;
    min-width: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    a {
      padding-top: 1rem;
    }
  }

  section {
    .subtext {
      max-width: 100%;
      padding: 1rem;
    }
  }

  #latest-products > .product-spotlight-container > .product-spotlight {
    width: 100%;
    padding: 1rem;

    h3 {
      text-align: center;
    }

    .product {
      flex-direction: column;
      align-items: center;

      .product-spotlight-image {
        margin: 0;
      }

      .product-spotlight-text {
        padding: 1rem;
        max-width: 100%;
      }
    }
  }
}

@media screen and (max-width: $sm) {
  #home {
    h1 {
      width: 100%;
      top: 40%;
      left: 0;
      font-size: 2rem;
    }
    
    p {
      width: 100%;
      top: 50%;
      left: 0;
      font-size: 1.2rem;
    }
  }

  #latest-products {
    .product-spotlight-image {
      width: 100% !important;
    }
  }
}

@media screen and (max-height: 300px) {
  #home p {
    top: 75% !important;
  }
}

@media screen and (max-height: 512px) {
  #home p {
    top: 60%;
  }
}

@media screen and (max-height: $md) {
  #home p {
    top: 50%;
  }
}

@keyframes slide_in_title {
  0% {
    margin-top: -30px;
    margin-left: -100px;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide_in_text {
  0% {
    margin-left: -100px;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide_up_text {
  0% {
    margin-top: 100px;
    opacity: 0;
  }
  100% {
    margin-bottom: 0;
    opacity: 1;
  }
}