html, head, body {
  overflow-x: hidden;
}

body {
  background-color: #222222;
  color: white;
}

nav {
  background-color: rgba(34, 34, 34, 0.6);
  z-index: 10;
}

#home {
  z-index: -10;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  overflow-x: hidden;
  display: block;
}
#home .background-blur {
  background-size: cover;
  position: absolute;
  height: 100vh;
  width: 100vw;
  filter: blur(5px);
  z-index: -1;
}
#home .splash-image-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
#home .splash-image-container img {
  z-index: 0;
  width: 100vw;
}
#home h1 {
  animation: slide_in_text ease 2s;
  position: absolute;
  top: 25%;
  left: 108px;
  font-size: 6rem;
}
#home p {
  animation: slide_up_text ease 2s;
  position: absolute;
  top: 40%;
  left: 108px;
  font-size: 2rem;
}

@media screen and (max-width: 768px) {
  #home h1 {
    width: 100%;
    top: 40%;
    left: 0;
    font-size: 2.5rem;
  }
  #home p {
    width: 100%;
    top: 50%;
    left: 0;
    font-size: 1.5rem;
  }
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0;
  flex-direction: column;
  text-align: center;
}
section:nth-child(odd) {
  background-color: #243b9a;
}
section h2 {
  margin-bottom: 1rem;
  font-size: 32pt;
}
section .subtext {
  max-width: 50%;
}

@media screen and (max-width: 768px) {
  section .subtext {
    max-width: 100%;
    padding: 1rem;
  }
}
#what-we-do {
  background-color: #243b9a;
}

#latest-products {
  padding-bottom: 4rem;
}
#latest-products .product-spotlight-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#latest-products .product-spotlight-container .product-spotlight {
  margin-top: 4rem;
  display: flex;
  width: 55%;
  flex-direction: column;
}
#latest-products .product-spotlight-container .product-spotlight h3 {
  text-align: left;
  margin-bottom: 1rem;
}
#latest-products .product-spotlight-container .product-spotlight .product {
  display: flex;
  flex-direction: row;
}
#latest-products .product-spotlight-container .product-spotlight .product .product-spotlight-image {
  width: 20rem;
  max-height: 15rem;
  margin-right: 2rem;
  padding: 0.5rem;
  background-color: white;
  border-radius: 8px;
  display: flex;
  align-items: center;
}
#latest-products .product-spotlight-container .product-spotlight .product .product-spotlight-image img {
  width: 100%;
  height: auto;
}
#latest-products .product-spotlight-container .product-spotlight .product .product-spotlight-text {
  max-width: 60%;
}
#latest-products .product-spotlight-container .product-spotlight .product .product-spotlight-text p {
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  #latest-products > .product-spotlight-container > .product-spotlight {
    width: 80%;
  }
}
#available-retailers .retailers-wrapper {
  padding-top: 2rem;
  width: 50%;
  display: flex;
  flex-direction: column;
}
#available-retailers .retailers-wrapper div {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}
#available-retailers .retailers-wrapper div a {
  text-decoration: none;
  font-size: 16pt;
  margin-left: 1.5rem;
}
#available-retailers .retailers-wrapper:last-child {
  margin-left: 1rem;
  font-size: 16pt;
}

@media screen and (max-width: 768px) {
  #available-retailers > .retailers-wrapper {
    width: 100%;
    padding: 1rem;
  }
  #available-retailers > .retailers-wrapper:last-child {
    margin-left: 0;
  }
}
@keyframes slide_in_title {
  0% {
    margin-top: -30px;
    margin-left: -100px;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slide_in_text {
  0% {
    margin-left: -100px;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slide_up_text {
  0% {
    margin-top: 100px;
    opacity: 0;
  }
  100% {
    margin-bottom: 0;
    opacity: 1;
  }
}
