{% extends 'store/page_layout.html' %}
{% load static %}

{% block title %}{{ title_short }}{% endblock %}

{% block breadcrumbs_text %}
<a href="#" class="breadcrumbs-link ps-1">Products</a> / <a href="#" class="breadcrumbs-link">Televisions</a> / <span href="#" class="breadcrumbs-text">{{ title_short }}</a>
  {% endblock %}

  {% block product_information %}
  <div class="product-information-wrapper">
    <div class="product-information">
      <div class="product-title-wrapper">
        <span class="product-title">{{ title_long }}</span>
        <span class="product-subtitle">{{ model_number }}</span>
      </div>

      <div class="product-details">
        <div class="product-image-wrapper">
          <img src="{{ product_image }}" alt="product image" class="product-image">
        </div>

        <div class="product-price-wrapper">
          <div class="product-price">{% if sale_price %}<s>${{ price }}</s>{% else %}${{ price }}{% endif %}</div>
          {% if sale_price %}
          <div class="product-sale-wrapper">
            <div class="product-sale-content">
              <span class="d-flex badge bg-danger">SALE!</span>
              <span class="sale-price">Now only for <b class="ps-1">${{ sale_price }}<b></span>
            </div>
          </div>
          {% endif %}
          <div class="w-100 mt-4">
            <a class="btn btn-primary w-100" href="#">BUY NOW</a>
          </div>
          <div class="w-100 mt-2">
            <a class="btn btn-secondary w-100" href="#">BUY ON AMAZON</a>
          </div>
          <div class="check-availability-wrapper w-100 mt-4 d-flex justify-content-center align-content-center">
            <a href="#" class="btn btn-check-availability w-100 d-flex justify-content-center">
              <span class="d-flex align-items-center"><i class="fa-solid fa-boxes-stacked pe-2"></i>Check availability in store</span>
            </a>
          </div>

          <div class="ratings-wrapper d-flex flex-column mt-4 justify-content-center">
            <span class="ratings-text d-flex justify-content-center">
              Rating: 5 stars (42 reviews)
            </span>
            <div class="ratings-stars d-flex justify-content-center mt-2">
              <i class="fa-solid fa-star ratings-star"></i>
              <i class="fa-solid fa-star ratings-star"></i>
              <i class="fa-solid fa-star ratings-star"></i>
              <i class="fa-solid fa-star ratings-star"></i>
              <i class="fa-solid fa-star ratings-star"></i>
            </div>
            <div class="add-review d-flex justify-content-center mt-3">
              <a href="#"><i class="fa-solid fa-pen me-2 mb-4"></i>Write a review</a>
            </div>
          </div>
        </div>
      </div>

      <div class="description-wrapper mb-4">
        {{ brief_description }}
      </div>
    </div>
  </div>
  {% endblock %}
