{% extends 'base.html' %}
{% load static %}

{% block full_title %}Home | Kolofon Technologies{% endblock full_title %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'core/styles/core.css' %}">
{% endblock styles %}

{% block body %}
  <nav class="navbar navbar-expand-lg navbar-dark position-absolute w-100">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'core:home' %}">Kolofon Technologies</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#what-we-do">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'store:filter_products' 'all' %}">Store</a>
          </li>
          {% comment %} <li class="nav-item">
            <a class="nav-link" href="#">Contact Us</a>
          </li> {% endcomment %}
        </ul>
      </div>
    </div>
  </nav>
  
  <section id="home">
    <div class="background-blur" style="background-image: url({% static 'images/splash.jpg' %});"></div>
    {% comment %} <div class="splash-image-container">
      <img src="{% static 'images/splash.jpg' %}" alt="splash image">
    </div> {% endcomment %}
    <h1><i>Kolofon Technologies</i></h1>
    <p>You dream the future. We make it.</p>
  </section>

  <section id="what-we-do">
    <h2>What do we do?</h2>
    <p class="subtext">We are a team of highly skilled and experienced developers, scientists, and engineers to ensure that dreams are not just left as dreams, but rather are brought to fruition. Everyone dreams about the future. Here, at Kolofon Technologies, we build it. All members are willing to pour everything they have in order to make the dreams into reality.</p>
  </section>
  
  <section id="latest-products">
    <h2>Latest products</h2>
    <p class="subtext">We are constantly launching shiny new things which are all built upon revolutionary technology. See what's new!</p>
    
    <div class="product-spotlight-container">
      {% for product in product_spotlight %}
      <div class="product-spotlight">
        <h3><a href="{% url 'store:product_details' product.slug %}">{{ product.name }}</a></h3>
        <div class="product">
          <div class="product-spotlight-image">
            <img src="{{ product.image.url }}" alt="product spotlight">
          </div>
          <div class="product-spotlight-text">
            <p>
              {% if product.description %}
                {{ product.description }}
              {% else %}
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio aliquam voluptatibus animi culpa vero. Ut similique ab, numquam beatae eveniet et, quia ad voluptate velit harum architecto repudiandae officiis temporibus.
              {% endif %}
            </p>
            
            <a href="{% url 'store:product_details' product.slug %}" class="btn btn-primary">Go to product</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
  
    <section id="available-retailers">
      <h2>Partnered retailers</h2>
      <p class="subtext">Our company is dedicated to deliver. Thus, we cannot also take the burden of delivering the products directly to everyone's doorsteps. This is where our retail partners come in. Kolofon Technologies has signed an exclusive contract with select trusted companies to sell our products. All partnered retailers are listed below.</p>

      <div class="retailers-wrapper">
        <a href="{% url 'store:filter_products' 'all' %}">
          <img src="{% static 'images/the-best-guys.png' %}" alt="the best guys" style="height: 3rem;">
        </a>
        <a href="https://el-go-go-5a501.firebaseapp.com/index.html">
          <img src="{% static 'images/el-gogo.png' %}" alt="el-gogo" style="height: 2.5rem;">
        </a>
        {% comment %} <div>
          Hang on tight! More coming soon!
        </div> {% endcomment %}
      </div>
    </section>
  {% endblock body %}
