body
{
  width: 100%;
}

a, a:hover
{
  color: inherit;
}

.brand-navbar-container, .navbar-container, .logo-container
{
  height: 4rem;
}

.navbar-container-wrapper, .breadcrumbs-content, .product-menu-content
{
  width: 50%;
  max-width: 50rem;
}

.product-menu-container
{
  height: 3rem;
  background-color: #1966af;
}

.breadcrumbs-content
{
  background-color: white;
  color: #b5b5b5;
  height: 100%;
  font-weight: 600;
  font-size: 15px;
}

.breadcrumbs-link
{
  padding: 0 0.8rem;
  color: #1966af;
  text-decoration: none;
  transition: color 150ms;
}

.breadcrumbs-link:hover
{
  color: #17436c;
}

.breadcrumbs-text
{
  color: #696969;
  padding-left: 10px;
}

.breadcrumbs-container
{
  height: 2rem;
}

.product-information-wrapper
{
  min-height: 10rem;
  background-color: beige;
}

p.information-placeholder-label
{
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: large;
}



p.specification-placeholder-label
{
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: large;
}

.product-reviews-wrapper
{
  min-height: 10rem;
  background-color: cyan;
}

p.specification-placeholder-label
{
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: large;
}

.logo-wrapper
{
  max-height: 100%;
}

.navbar-logo-image
{
  max-width: 100%;
  height: 100%;
}

.navbar-buttons
{
  font-size: 32px;
  cursor: pointer;
}

.navbar-menu-item
{
  color: white;
  background-color: inherit;
}

.menu-item-wrapper
{
  cursor: pointer;
  font-weight: 500;
}

.menu-item-wrapper:hover
{
  background-color: #185792be;
}

.all-products-menu
{
  width: fit-content;
  transition: background-color 150ms;
}

/****************************************************/

.product-information-wrapper
{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ececec;
  margin-top: 0.5rem;
}

.product-information
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin-top: 1rem;
}

.product-title-wrapper
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.product-title-wrapper .product-title
{
  font-size: 1.5rem;
  font-weight: 700;
}

.product-title-wrapper .product-subtitle
{
  font-size: 1.2rem;
  font-weight: 500;
}

.product-information .product-details
{
  display: flex;
  flex-direction: row;
}

.product-details .product-image-wrapper
{
  display: flex;
  flex-grow: 0;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 5px;
  height: 500px;
  padding: 3rem;
  margin: 2rem 0;
}

.product-image-wrapper .product-image
{
  height: 100%;
}

.product-details .product-price-wrapper
{
  flex-shrink: 0;
  background-color: white;
  border-radius: 5px;
  width: 23rem;
  padding: 0 1.5rem;
  margin: 2rem 0 2rem 4rem;
}

.product-price-wrapper .product-price
{
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  width: 100%;
  padding: 0.4rem 0;
  margin-top: 1.5rem;
}

.product-price-wrapper .product-sale-wrapper
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 0.5rem;
}

.product-sale-wrapper .product-sale-content
{
  display: flex;
  align-items: center;
}

.product-sale-content .sale-price
{
  display: flex;
  font-size: 1.1rem;
  font-weight: 600;
  margin-left: 1rem;
}

.check-availability-wrapper
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
}

.check-availability-wrapper .btn
{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.ratings-wrapper
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
}

.ratings-wrapper span
{
  display: flex;
  justify-content: center;
  margin-top: -2px;
  font-size: 1.2rem;
  color: darkslategray;
}

.ratings-wrapper .ratings
{
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}

.ratings-star
{
  font-size: 24px;
  color: rgb(227, 218, 85);
  text-shadow: 0 0 1px darkslategray;
}

.ratings-wrapper .add-review
{
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.add-review a
{
  text-decoration: none;
  transition: color 150ms ease-in-out;
}

.add-review a:hover
{
  color: rgb(119, 126, 126);
}

.description-wrapper
{
  font-size: 0.8rem;
  font-weight: 500;
  text-align: center;
  width: 80%;
}

/*****************************************************/
/*** Product specifications ***/
/*****************************************************/

.product-specifications-wrapper
{
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-specifications-wrapper .title
{
  font-weight: 700;
  font-size: 1.6rem;
  width: 100%;
  text-align: left;
}

.product-specifications
{
  width: 60%;
}

.product-specifications .specifications
{
  margin: 1rem 0;
  border: 1px solid #b5b5b5;
  color: #1a1a1a;
}

.product-specifications .specifications div
{
  display: flex;
  flex-grow: 0;
}

.product-specifications .specifications div span
{
  padding: 0.5rem 1rem;
  font-size: 0.85rem;
}

.product-specifications .specifications div .title
{
  padding-left: 0.8rem;
  width: 30%;
  border-right: 1px solid #b5b5b5;
  font-weight: 600;
  
}

.product-specifications .specifications div .specification
{
  padding-left: 0.8rem;
  width: 70%;
  font-weight: 400;
}

.product-specifications .specifications div:nth-child(even)
{
  background-color: #eaeaea;
}

.product-specifications .specifications div:nth-child(odd)
{
  background-color: #ffffff;
}

.product-specifications .subtext
{
  font-size: 0.8rem;
  color: #696969;
}
