body
{
    width: 100%;
}

a
{
    color: inherit;
}

.brand-navbar-container, .navbar-container
{
    height: 4rem;
}

.navbar-container-wrapper, .breadcrumbs-content
{
    width: 50%;
    max-width: 50rem;
}

.product-menu-container
{
    height: 3rem;
    background-color: #1966af;
}

.breadcrumbs-content
{
    background-color: white;
    color: #b5b5b5;
    height: 100%;
    font-weight: 600;
    font-size: 15px;
}

.breadcrumbs-link
{
    padding: 0 0.8rem;
    color: #1966af;
    text-decoration: none;
}

.breadcrumbs-container
{
    height: 2rem;
}

.product-information-wrapper
{
    min-height: 10rem;
    background-color: beige;
}

p.information-placeholder-label
{
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: large;
}

.product-specifications-wrapper
{
    min-height: 10rem;
    background-color: coral;
}

p.specification-placeholder-label
{
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: large;
}

.product-reviews-wrapper
{
    min-height: 10rem;
    background-color: cyan;
}

p.specification-placeholder-label
{
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: large;
}

.logo-wrapper
{
    max-height: 100%;
}

.navbar-logo-image
{
    max-width: 100%;
    height: 100%;
}

.navbar-buttons
{
    font-size: 32px;
    cursor: pointer;
}
