{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %}{{ product.name }}{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'store/styles/store.css' %}">
{% endblock %}

{% block scripts %}
  <script src="{% static 'store/js/script.js' %}"></script>
{% endblock %}

{% block body %}
  {% include 'store/_navbar.html' %}

  <div class="product-information-container">
    <div class="product-information-wrapper">
      <div class="product-information">
        <div class="product-title-wrapper">
          <span class="product-title">{{ product.long_name }}</span>
          <span class="product-subtitle">{{ product.model }}</span>
        </div>

        <div class="product-details">
          <div class="product-image-wrapper">
            <div class="product-image-container">
              <img src="{{ product.image.url }}" alt="product image" class="product-image">
            </div>
          </div>

          <div class="product-price-wrapper">
            <div class="product-price">{% if product.sale_price %}<s>${{ product.price|intcomma }}</s>{% else %}${{ product.price|intcomma }}{% endif %}</div>
            {% if product.sale_price > 0.0 %}
              <div class="product-sale-wrapper">
                <div class="product-sale-content d-flex flex-column">
                  <span class="d-flex badge bg-danger mb-2">SALE!</span>
                  <span class="sale-price text-center"><b class="mt-1 d-inline">Now only for ${{ product.sale_price|intcomma }} ({{ discount_percent }}% off!)</b></span>
                </div>
              </div>
            {% endif %}
            <div class="w-100 mt-4">
              <a class="btn btn-success w-100" href="https://downloadmoreram.com/"><i class="fa-solid fa-cart-plus pe-2"></i>ADD TO CART</a>
            </div>
            <div class="w-100 mt-3">
              <a class="btn btn-primary w-100" href="https://downloadmoreram.com/"><i class="fa-solid fa-money-check-dollar pe-2"></i>BUY NOW</a>
            </div>
            <div class="w-100 mt-2">
              <a class="btn btn-secondary w-100" href="https://downloadmoreram.com/"><i class="fa-brands fa-amazon pe-2"></i>BUY ON AMAZON</a>
            </div>
            <div class="check-availability-wrapper">
              <a href="#" onclick="alert('This product is available!');" class="btn btn-success">
                <i class="fa-solid fa-boxes-stacked pe-2"></i>Check availability
              </a>
            </div>

            <div class="ratings-wrapper">
              <span>
                Rating: {{ average_rating }} {% if average_rating == 1 %}star{% else %}stars{% endif %} ({{ all_reviews.count }} {% if all_reviews.count == 1 %}review{% else %}reviews{% endif %})
              </span>
              <div class="ratings-stars">
                {% if average_rating == 5 %}
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                {% elif average_rating == 4 %}
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                {% elif average_rating == 3 %}
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                {% elif average_rating == 2 %}
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                {% else %}
                  <span style="color: #ff6622;">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                  </span>
                {% endif %}
              </div>
              <div class="add-review">
                <a href="#write-a-review"><i class="fa-solid fa-pen me-2 mb-4"></i>Write a review</a>
              </div>
            </div>
          </div>
        </div>

        <div class="description-wrapper">
          <div class="description multiline-clamped">
            {{ product.description }}
          </div>
          <a onclick="toggle_show_more($(this));" class="show-more cursor-pointer">Show more.</a>
        </div>
      </div>
    </div>
  </div>

  <div class="product-specifications-wrapper">
    <div class="product-specifications">
      <span class="title">Technical Specifications</span>
      <div class="specifications">
        {% for spec in product.specifications.all %}
          <div>
            <span class="title">{{ spec.label }}</span>
            <span class="specification">{{ spec.specification }}</span>
          </div>
        {% endfor %}
      </div>
      <div class="subtext">
        <span>* <a href="https://youtu.be/mkdWR5DuhBA">Terms and conditions apply.<a></span>
      </div>
    </div>
  </div>

  <section id="write-a-review"></section>
  <div class="product-reviews-wrapper">
    <div class="product-reviews">
      <span class="title">Reviews</span>

      <div class="add-review">
        <form method='POST' action="{% url 'store:post_review' product.slug %}" autocomplete="off">
          {% csrf_token %}

          <input name="title" type="text" class="form-control" id="review-title" placeholder="Title this something" maxlength="255" required>

          <textarea name="review" id="review-body" rows="7" class="form-control" placeholder="Write a review" maxlength="2047" required></textarea>

          <div class="mt-3">
            <div class="stars">
              <input class="star star-1" id="star-1" type="radio" name="star" onclick="$('#star-rating').val(5);" checked>
              <label class="star star-1" for="star-1"></label>
              <input class="star star-2" id="star-2" type="radio" name="star" onclick="$('#star-rating').val(4);">
              <label class="star star-2" for="star-2"></label>
              <input class="star star-3" id="star-3" type="radio" name="star" onclick="$('#star-rating').val(3);">
              <label class="star star-3" for="star-3"></label>
              <input class="star star-4" id="star-4" type="radio" name="star" onclick="$('#star-rating').val(2);">
              <label class="star star-4" for="star-4"></label>
              <input class="star star-5" id="star-5" type="radio" name="star" onclick="$('#star-rating').val(1);">
              <label class="star star-5" for="star-5"></label>
            </div>
            <input type="number" name="star-rating" id="star-rating" hidden>
          </div>

          <div class="d-flex flex-column" id="review-recommended">
            <span id="recommended-text">I definitely recommend this to others!</span>
            <div class="form-group">
              <span class="pointer recommended text-primary" onclick="recommend_product();"><i class="fa-solid fa-thumbs-up"></i></span>
              <span class="pointer not-recommended text-danger" onclick="not_recommend_product();"><i class="fa-regular fa-thumbs-down"></i></span>
            </div>
            <input type="checkbox" id="recommended-to-others" name="recommended" hidden checked>
          </div>

          <button class="btn btn-primary form-control mt-3" type="submit">Post!</button>
        </form>
      </div>

      <div class="reviews">
        {% for review in paginated_reviews %}
          <div class="review">
            <div class="header">
              <div class="profile-image-wrapper">
                <img src="{% static 'images/blank-user-avatar.png' %}" alt="pfp">
              </div>
              <div class="review-title-wrapper">
                <div class="review-rating-wrapper d-flex flex-row">
                  <div class="review-rating">
                    {% if review.star_rating == 5 %}
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                    {% elif review.star_rating == 4 %}
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-regular fa-star"></i>
                    {% elif review.star_rating == 3 %}
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-regular fa-star"></i>
                      <i class="fa-regular fa-star"></i>
                    {% elif review.star_rating == 2 %}
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-regular fa-star"></i>
                      <i class="fa-regular fa-star"></i>
                      <i class="fa-regular fa-star"></i>
                    {% else %}
                      <span style="color: #ff6622;">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                      </span>
                    {% endif %}
                  </div>
                  <span class="review-title ms-3">{{ review.title }}</span>
                </div>
                <span class="review-user">by {% if review.user %}{{ review.user.username }}{% else %}Anonymous User{% endif %} on {{ review.created_at }}</span>
              </div>
            </div>
            <div class="body">
              <div>
                {{ review.body }}
              </div>
            </div>
            <div class="user-feedback">
              {% if review.recommended %}
                <div class="text-success">
                  <i class="fa fa-thumbs-up"></i>
                  <span>This user recommends this product</span>
                </div>
              {% else %}
                <div class="text-danger">
                  <i class="fa fa-thumbs-down"></i>
                  <span>This user does not recommend this product</span>
                </div>
              {% endif %}
            </div>

            {% if user.is_superuser or review.user == user %}
              <div class="delete-review">
                <a href="{% url 'store:delete_review' product.slug review.pk %}"><i class="fa-regular fa-trash-can"></i> Delete Review</a>
              </div>
            {% endif %}
          </div>
        {% empty %}
          <h2>No reviews yet</h2>
        {% endfor %}

        <div class="container px-4 my-5">
          <ul class="pagination justify-content-center">
            {% if paginated_reviews.has_previous %}
              <li class="page-item"><a class="page-link" href="?page={{ paginated_reviews.previous_page_number }}"><span class="bi bi-caret-left-fill"></span></a></li>
            {% else %}
              <li class="page-item disabled"><a class="page-link"><span class="bi bi-caret-left-fill"></span></a></li>
            {% endif %}

            {% for i in paginated_reviews.paginator.page_range %}
              {% if i == paginated_reviews.number %}
                <li class="page-item active"><a class="page-link">{{ i }}</a></li>
              {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ paginated_reviews.number }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}

            {% if paginated_reviews.has_next %}
              <li class="page-item"><a class="page-link" href="?page={{ paginated_reviews.next_page_number }}"><span class="bi bi-caret-right-fill"></span></a></li>
            {% else %}
              <li class="page-item disabled"><a class="page-link"><span class="bi bi-caret-right-fill"></span></a></li>
            {% endif %}
          </ul>
        </div>

      </div>
    </div>
  </div>
{% endblock %}
